table {
	border-collapse: collapse;
}

caption, th, td {
	padding: .2em .8em;
	border: 1px solid #fff;
	text-align: center;
}

caption {
	background: #dbb768;
	font-weight: bold;
	font-size: 1.1em;
}

th {
	font-weight: bold;
	background: #f3ce7d;
}

td {
	background: #ffea97;
}

td.leftAlign {
	text-align: left;
}

td.centerAlign {
	text-align: center;	
}

tr.bold {
	font-weight: bold;
	font-size: 1.2em;
}

td.expanded {
	background: #00ea97;
	font-size: 0.8em;
}

a {
	font-size: 0.7em;
}

.smallResolve {
	font-size: 0.8em;
}

.inlineIcons {
	float: right;
}

img {
	padding: 0 10px 0 10px;
}

/***************************/
/* The Edit popup settings */
/***************************/
.editPopup {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 200px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.editPopupContent {
	background-color: #fefefe;
	margin: auto;
	padding: 100px;
	border: 1px solid #888;
	width: 60%;
}

/* The Close Button */
.editPopupClose {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.editPopupClose:hover,
.editPopupClose:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

